* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
}

#container {
    display: flex;
    border: 2px solid black;
    flex-direction: row;
    height: 100vh;
}

#left-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 100vh;
    width: 45vw;
    background-image: url("images/backsplash.jpg");
    background-size: cover;
}

.card-body {
    display: flex;
    position: absolute;
    width: 44.5vw;
    background: black;
    opacity: 0.6;
    color: white;
    top: 16rem;
    text-align: center;
    font-size: 8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 1rem;
}

#compass {
    padding-top: 1.5rem;
    height: 6.3rem;
    padding-left: 4.5rem;
}

#right-container {
    display: flex;
    flex-direction: column;
    width: 55vw;
    background-color: rgb(240, 240, 240);
}

#top {
    margin-top: 10rem;
    margin-left: 4rem;
    margin-right: 13rem;
    font-size: 1.7rem;
    font-weight: bold;
}

#top p:nth-child(3) {
    margin-top: 2rem;
}

#sign-up {
    display: flex;
    flex-direction: column;
    height: 35%;
    margin-top: 4rem;
    box-shadow: 0 2px 5px -2px gray;
    background-color: white;
}

#sign-up > p {
    font-size: 2rem;
    padding-left: 4rem;
    padding-top: 2rem;
    font-weight: 600;
}

.form {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    padding-top: 1.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.06rem;

}

#names-text {
    display: flex;
    gap: 20rem;
    margin-bottom: 0.25rem;
}

#names-forms {
    display: flex;
    gap: 7.8rem;
    height: 1.5rem;
}

#contacts-text {
    display: flex;
    gap: 22.7rem;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
}

#contacts-forms {
    display: flex;
    gap: 7.85rem;
    height: 1.5rem;
}

#password-text {
    display: flex;
    gap: 20.5rem;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
}

#password-forms {
    display: flex;
    gap: 7.85rem;
    margin-bottom: 1.5rem;
    height: 1.5rem;
    width: 4rem;
}